/* HEADER */
.header {
    background: #446573;
}

.headerLine1 {
    background: #3d5a66;
    padding: 10px;
    color: #fff;
}

.page-links a {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 0 5px;
    font-weight: 300;
}

.socialLinks img {
    margin-left: 15px;
    display: inline-block;
}

.header2 {
    padding: 15px 0;
}

.formBusca {
    background: #41565f;
    margin: 0 0;
    height: 35px;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.formBusca input[type=text] {
    background: none;
    color: #fff;
    float: left;
    width: 80%;
    border: none;
}

.formBusca input[type=submit] {
    float: left;
    width: 20%;
    background: url(/imagens/estrutura/lupa.png) 80% center no-repeat;
    border: none;
    text-indent: -9999px;
}

.facaLogin .button {
    margin-right: 15px;
}

.facaLogin a {
    color: #fff;
}

.facaLogin.loged {
    color: #fff;
}

.facaLogin.loged strong {
    color: #fff;
    font-size: 1.1em;
}

.facaLogin.loged a {
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 767px) {
    .padBuscaXS {
        padding: 25px 10px;
        text-align: center;
        background: rgba(0, 0, 0, 0.2);
        margin: 15px 0;
    }
}

/* BUTTONS */
.button {
    background: #c3ce5f;
    background: -moz-linear-gradient(top, #c3ce5f 0%, #94a837 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3ce5f), color-stop(100%, #94a837));
    background: -webkit-linear-gradient(top, #c3ce5f 0%, #94a837 100%);
    background: -o-linear-gradient(top, #c3ce5f 0%, #94a837 100%);
    background: -ms-linear-gradient(top, #c3ce5f 0%, #94a837 100%);
    background: linear-gradient(to bottom, #c3ce5f 0%, #94a837 100%);
    color: #fff;
    font-weight: 300;
    padding: 7px 15px;
    display: inline-block;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #c3ce5f;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.button:focus {
    -webkit-box-shadow: 0 0 6px 3px rgba(168, 184, 72, 0.5);
    box-shadow: 0 0 6px 3px rgba(168, 184, 72, 0.5);
}

.button:hover {
    color: #fff;
    text-decoration: none;
    background: rgb(148, 168, 55);
    background: -moz-linear-gradient(top, rgba(148, 168, 55, 1) 0%, rgba(195, 206, 95, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(148, 168, 55, 1)), color-stop(100%, rgba(195, 206, 95, 1)));
    background: -webkit-linear-gradient(top, rgba(148, 168, 55, 1) 0%, rgba(195, 206, 95, 1) 100%);
    background: -o-linear-gradient(top, rgba(148, 168, 55, 1) 0%, rgba(195, 206, 95, 1) 100%);
    background: -ms-linear-gradient(top, rgba(148, 168, 55, 1) 0%, rgba(195, 206, 95, 1) 100%);
    background: linear-gradient(to bottom, rgba(148, 168, 55, 1) 0%, rgba(195, 206, 95, 1) 100%);
    -webkit-box-shadow: none;
    box-shadow: none;
}
